<h3>Pipes</h3>
<hr>
<h4>Formatando textos</h4>
<p>Texto da variável text: {{text}}</p>
<p>Texto da variável text utilizando pipes lowercase: {{text | lowercase}}</p>
<p>Texto da variável text utilizando pipes uppercase: {{text | uppercase}}</p>
<hr>
<h4>Formatando números</h4>
<p>N: {{n}}</p>
<p>N formatado padrão inglês: {{n | number:"5.1-3"}}</p>
<p>N formatado padrão português: {{n | number:"5.1-3":'pt'}}</p>
<hr>
<h4>Formatando Datas</h4>
<p>Hoje: {{hoje}}</p>
<p>Hoje formatado pequeno: {{hoje | date: "short"}}</p>
<p>Hoje formatado médio: {{hoje | date: "medium"}}</p>
<hr>
<h4>Criando meus próprios pipes</h4>
<p>CEP não formatado: {{meuCep}}</p>
<p>CEP formatado: {{meuCep | cep}}</p>
<p>CPF não formatado: {{meuCpf}}</p>
<p>CPF formatado: {{meuCpf | cpf}}</p>
<hr>
<h4>Inpure Pipe</h4>
<input #ipt placeholder="Uma string"><button (click)="addString(ipt)"> + </button>
<ul>
    <li *ngFor="let s of strings">{{s}}</li>
</ul>
<p>Array formatado: {{strings | joinStrings:", "}}</p>